*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.inp{
    display: block;
    margin: 30px 5px;
    font-size: 22px;
}
body{
    background-color:#B983FF;
}
h2{
    color: #99FEFF;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(168, 23, 235);
    font-size: 70px;
    margin: 0px 1px;
    color:#FFAB4C;
}
button{
    border: 5px solid green;
    border-radius: 20px;
    font-size: 18px;
    margin: 45px 10px;
    padding: 8px 17px;
}
