*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.inp{
    display: block;
    margin: 30px 5px;
    font-size: 22px;
}
body{
    background-color: rgb(95, 177, 204);
}
h1{
    background-color: rgb(168, 23, 235);
    font-size: 70px;
    margin: 0px 1px;
    color:rgb(46, 245, 7);
}
button{
    font-size: 18px;
    margin: 45px 10px;
    padding: 8px 17px;
}